* {
  margin: 0;
  padding: 0;
}
header {
  height: 100px;
  width: 100%;
  position: fixed;
  top: 0;
  background-color: black;
}
header .inner-header {
  height: 60px;
  width: 100%;
  margin-top: 15px;
  background-color: aquamarine;
}
header .inner-header .input {
  height: 35px;
  width: 520px;
  margin-top: 13px;
  margin-left: 20%;
  border-top-left-radius: 60px;
  border-bottom-left-radius: 60px;
  font-size: large;
}
header .inner-header i {
  position: relative;
  left: 12px;
  font-size: x-large;
  width: 80px;
}
header .inner-header .search-button {
  height: 37px;
  width: 60px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}
header .inner-header .search-button .fa-magnifying-glass {
  text-align: center;
  position: relative;
  right: 10px;
}

nav {
  height: 100%;
  width: 150px;
  position: fixed;
  background-color: blue;
}
main section {
  height: 100vh;
  width: 87%;
  margin-left: 165px;
  margin-top: 15px;
  border: 2px solid rgb(17, 0, 167);
}
main .first-sec {
  height: 100vh;
  width: 87%;
  margin-left: 165px;
  margin-top: 115px;
  border: 2px solid black;
}
