* {
  margin: 0;
  padding: 0;
}
header {
  height: 100px;
  width: 100%;
  position: fixed;
  top: 0;
  background-color: black;
}
header .inner-header {
  height: 60px;
  width: 100%;
  margin-top: 15px;
  background-color: aquamarine;
}
nav {
  height: 100%;
  width: 150px;
  position: fixed;
  background-color: blue;
}
main section {
  height: 100vh;
  width: 87%;
  margin-left: 165px;
  margin-top: 15px;
  border: 2px solid rgb(17, 0, 167);
}
main .first-sec {
  height: 100vh;
  width: 87%;
  margin-left: 165px;
  margin-top: 115px;
  border: 2px solid black;
}
